<!DOCTYPE HTML>
<html>
  <head>
    <title>#</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">   
    <link rel = 'stylesheet' type = 'text/css' href = 'style.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">Tic-Tac</a>
      <ul class="nav navbar-nav">        
        <li class="nav-item">
          <div class="btn-group buts" id="buts">
            <button id='newgame' class='btn btn-default'>new game</button>
            <button data-choise='x' id="turn" class='btn btn-default'>swap turn to o</button>
          </div>
        </li>
      </ul>    
    </nav> 
    <div class="card initialization" id="initial">
      <form action="#">
        <input id="pl1" type="text" class="form-control" placeholder="Player1"><br>
        <input id="pl2" type="text" class="form-control" placeholder="Player2"><br>
        <button type="button" id="init" class="btn btn-default custom">Submit</button>
      </form>
    </div>    
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class = 'grid' id='grid'>
            <div class="container">
              <div class="row">
                <div class="card custom">
                  <p id="p1" data-symb="x">
                    <p id="p1_s"></p>
                  </p>
                  <p id="p2" data-symb="y">
                    <p id="p2_s"></p>
                  </p>
                </div>
              </div>
            </div>
            <div class='cell' data-num = "0" data-val = "disabled"></div>
            <div class='cell' data-num = "1" data-val = "disabled"></div>
            <div class='cell' data-num = "2" data-val = "disabled"></div>
            <div class='cell' data-num = "3" data-val = "disabled"></div>
            <div class='cell' data-num = "4" data-val = "disabled"></div>
            <div class='cell' data-num = "5" data-val = "disabled"></div>
            <div class='cell' data-num = "6" data-val = "disabled"></div>
            <div class='cell' data-num = "7" data-val = "disabled"></div>
            <div class='cell' data-num = "8" data-val = "disabled"></div>
          </div>
        </div>
        <div class="col-sm-4 output"> 
          <button class='btn btn-default' id='clearhistory'>CLEAR</button>
          <div id="target0"></div>
          <div id="target1"></div>
          <div id="target2"></div>
          <div id="target3"></div>
          <div id="target4"></div>
          <div id="target5"></div>
          <div id="target6"></div>
          <div id="target7"></div>
          <div id="target8"></div>


          <script id="template" type="x-tmpl-mustache">
            <div> {{ arr1 }} | {{ arr2 }} | {{ arr3 }} </div>
            <div> {{ arr4 }} | {{ arr5 }} | {{ arr6 }} </div>
            <div> {{ arr7 }} | {{ arr8 }} | {{ arr9 }} </div>
            <br>
            <br>
          </script>   

          <div id='historybtn'>
          </div>              
        </div>
      </div>
    </div>
    <script src="script.js"></script>  
  </body>
</html>