.cell {
  width: 140px;
  height: 140px;
  border: 2px solid black;     
  float:left;
  line-height: 140px;
  text-align: center;
  font-family: "Sans";
  font-weight: bold;
  font-size: 70px;
  color: transparent;
}
.grid {
  height: 420px;
  width: 420px;
  margin-top: 100px; 
  display: none; 
}
.initialization {
  width: 350px;
  margin-top: 100px;
  margin-left: 450px;
  padding: 20px;
}
.custom {
  width: 100%;
  padding: 15px;
}
#buts {
  dispaly: none;
}
body, div, input {
  color: #fffff;
  font-weight: bold;
  font-family: "Sans";
  text-shadow: 0px 0px 1px black;
}
#clearhistory {
  display: none;
}
/*.top {  
  padding: 10px;
  border-left: solid black;
  border-right: solid black;  
}
.center {
  padding: 10px;
  border: solid black;  
}
.side{
  padding: 10px;  
  border-top: solid black;
  border-bottom: solid black;  
}*/